
{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- <form method="post" id="send_otp_form">
        {% csrf_token %}
        <label for="phone">Phone Number</label>
        <input type="text" name="phone" id="phone">

        <button type="submit">Submit</button>
    </form> -->

    <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col-lg-6">
                    <div class="card1 pb-5">
                        <div class="row"> <img src="{% static 'img/COWINNER.svg' %}" class="logo"> </div>
                        <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="{% static 'img/login-banner.jpg' %}" class="image"> </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row mb-4 px-3">
                            
                        </div>
                        <div class="row px-3 mb-4">
                            
                        </div>

                        <!-- FORM 1 -->
                        <form action="" method="post" id="send_otp_form" >
                            {% csrf_token %}
                            <div class="row px-3"> 
                                <label class="mb-1" for="phone"><h6 class="mb-0 text-sm">Phone Number</h6></label> 
                                <input class="mb-4" type="text" name="phone" placeholder="+91__________"> 
                            </div>

                            <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center" name="button1">Send OTP</button> 
                            </div> 
                            </div>
                        </form>

                        <!-- FORM 2 -->
                        <form action="" method="post" id="confirm_otp_form" style="display:none; width:91.5%;" >
                            {% csrf_token %}
                            
                            <div class="row px-3"> 
                                <label class="mb-1" for="phone" ><h6 class="mb-0 text-sm">Phone Number</h6></label> 
                                <input class="mb-4" type="text" id="form_2_phone" name="phone" > 
                            </div>
                            
                            <div class="row px-3"> 
                                <label class="mb-1"><h6 class="mb-0 text-sm">OTP</h6></label> 
                                <input type="password" name="otp" placeholder="Enter OTP"> 
                            </div>
                            <div class="row px-3 mb-4">
                                <a href="#" class="ml-auto mb-0 text-sm">Re-send OTP</a>
                            </div>
                            <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center" name="button1">Confirm OTP</button> 
                            </div> 
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
            <div class="bg-blue py-4">
                <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2019. All rights reserved.</small>
                    <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        body {
            color: #000;
            overflow-x: hidden;
            height: 100%;
            background-color: #B0BEC5;
            background-repeat: no-repeat
        }
        
        .card0 {
            box-shadow: 0px 4px 8px 0px #757575;
            border-radius: 0px
        }
        
        .card2 {
            margin: 0px 40px
        }
        
        .logo {
            width: 200px;
            height: 100px;
            margin-top: 20px;
            margin-left: 35px
        }
        
        .image {
            width: 360px;
            height: 280px
        }
        
        .border-line {
            border-right: 1px solid #EEEEEE
        }
        
        .facebook {
            background-color: #3b5998;
            color: #fff;
            font-size: 18px;
            padding-top: 5px;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            cursor: pointer
        }
        
        .twitter {
            background-color: #1DA1F2;
            color: #fff;
            font-size: 18px;
            padding-top: 5px;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            cursor: pointer
        }
        
        .linkedin {
            background-color: #2867B2;
            color: #fff;
            font-size: 18px;
            padding-top: 5px;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            cursor: pointer
        }
        
        .line {
            height: 1px;
            width: 45%;
            background-color: #E0E0E0;
            margin-top: 10px
        }
        
        .or {
            width: 10%;
            font-weight: bold
        }
        
        .text-sm {
            font-size: 14px !important
        }
        
        ::placeholder {
            color: #BDBDBD;
            opacity: 1;
            font-weight: 300
        }
        
        :-ms-input-placeholder {
            color: #BDBDBD;
            font-weight: 300
        }
        
        ::-ms-input-placeholder {
            color: #BDBDBD;
            font-weight: 300
        }
        
        input,
        textarea {
            padding: 10px 12px 10px 12px;
            border: 1px solid lightgrey;
            border-radius: 2px;
            margin-bottom: 5px;
            margin-top: 2px;
            width: 100%;
            box-sizing: border-box;
            color: #2C3E50;
            font-size: 14px;
            letter-spacing: 1px
        }
        
        input:focus,
        textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #304FFE;
            outline-width: 0
        }
        
        button:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            outline-width: 0
        }
        
        a {
            color: inherit;
            cursor: pointer
        }
        
        .btn-blue {
            background-color: #1A237E;
            width: 150px;
            color: #fff;
            border-radius: 2px
        }
        
        .btn-blue:hover {
            background-color: #000;
            cursor: pointer
        }
        
        .bg-blue {
            color: #fff;
            background-color: #1A237E
        }
        
        @media screen and (max-width: 991px) {
            .logo {
                margin-left: 0px
            }
        
            .image {
                width: 300px;
                height: 220px
            }
        
            .border-line {
                border-right: none
            }
        
            .card2 {
                border-top: 1px solid #EEEEEE !important;
                margin: 0px 15px
            }
        }
    </style>



    <!-- Core Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Font Awesome -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

    <!-- JQuery References -->
    <script language="JavaScript" type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Sweet Alerts -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>
        $(document).on("submit", "#send_otp_form", function(e){
            e.preventDefault();
            var form = document.getElementById('send_otp_form');
            var formData = new FormData(form);

            for (var pair of formData.entries()) {
                console.log(pair[0] + " - " + pair[1]);
            }

            var url = '/signin/post/?report_type=send_otp';

            $.ajax({
                url:url,
                type:"POST",
                data: formData,
                processData:false,
                contentType:false,
                success:function(result, textStatus, xhr){
                    if(result == "ok"){
                        Swal.fire({
                            icon: 'success',
                            title: 'OTP Sent!',
                            timer: 1500,
                            allowEscapeKey: true,
                            allowOutsideClick: false,
                            showConfirmButton: false,
                        })
                    }else if(result == "not_ok"){
                        Swal.fire({
                            icon: 'error',
                            title: 'OTP couldn\'t be Sent!',
                            timer: 1500,
                            allowEscapeKey: true,
                            allowOutsideClick: false,
                            showConfirmButton: false,
                        })
                    }
                },
                error:function(jqXHR, textStatus, errorThrown){
                    console.log(errorThrown);
                }
            });
            var form = document.getElementById('send_otp_form');
            var formData = new FormData(form);
            for (var pair of formData.entries()) {
                console.log(pair[0]+ '-' + pair[1]); 
                if (pair[0] == 'phone'){
                    console.log('if statement entered');
                    document.getElementById('form_2_phone').value = pair[1];
                }
            }
            form1 = document.getElementById('send_otp_form');
            form2 = document.getElementById('confirm_otp_form');
            //console.log(form1);
            //console.log(form2);
            form1.style.display = "none";
            form2.style.display = "block";
        });
        
        


    </script>

    <script>
        $(document).on("submit", "#confirm_otp_form", function(e){
            e.preventDefault();
            var form = document.getElementById('confirm_otp_form');
            var formData = new FormData(form);

            for (var pair of formData.entries()) {
                console.log(pair[0] + " - " + pair[1]);
            }

            var url = '/signin/post/?report_type=confirm_otp_form';

            $.ajax({
                url:url,
                type:"POST",
                data: formData,
                processData:false,
                contentType:false,
                success:function(result, textStatus, xhr){
                    if(result == "ok"){
                        Swal.fire({
                            icon: 'success',
                            title: 'OTP Sent!',
                            timer: 1500,
                            allowEscapeKey: true,
                            allowOutsideClick: false,
                            showConfirmButton: false,
                        })
                    }else if(result == "not_ok"){
                        Swal.fire({
                            icon: 'error',
                            title: 'OTP couldn\'t be Sent!',
                            timer: 1500,
                            allowEscapeKey: true,
                            allowOutsideClick: false,
                            showConfirmButton: false,
                        })
                    }
                },
                error:function(jqXHR, textStatus, errorThrown){
                    console.log(errorThrown);
                }
            });
        });
        var form = document.getElementById('send_otp_form');
    </script>
{% endblock content %}